<!DOCTYPE html>
<html lang="fr">

<%- include('./layouts/head.ejs') %>

    <body>
        <!-- Navigation-->
        <%- include('./layouts/nav.ejs') %>
            <!-- Header-->
            <%- include('./layouts/header.ejs') %>

                <main>
                    <!-- Section-->
                    <!-- Page Content -->
                    <div class="container">
                        <h2 class="mt-5 mb-4">Qui sommes nous?</h2>
                        <p>Nous sommes un refuge bénévole qui recueille et propose à l'adoption de nombreux animaux.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati officia aut velit
                            reprehenderit eos magnam, dolor iusto, quod optio soluta ipsa fuga vero. Modi nemo veniam a
                            quas
                            reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati
                            officia
                            aut velit
                            reprehenderit eos magnam, dolor iusto, quod optio soluta ipsa fuga vero. Modi nemo veniam a
                            quas
                            reprehenderit.
                        </p>


                        <h2 class="mt-5 mb-4">Notre equipe</h2>
                        <div class="row">
                            <!-- Team Member 1 -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-0 shadow">
                                    <img src="/images/user-3331257_1280.png" class="card-img-top" alt="...">
                                    <div class="card-body text-center">
                                        <h5 class="card-title mb-0">Coco</h5>
                                        <div class="card-text text-black-50">bénévole</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Team Member 2 -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-0 shadow">
                                    <img src="/images/user-3331257_1280.png" class="card-img-top" alt="...">
                                    <div class="card-body text-center">
                                        <h5 class="card-title mb-0">Jaco</h5>
                                        <div class="card-text text-black-50">bénévole</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Team Member 3 -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-0 shadow">
                                    <img src="/images/user-3331257_1280.png" class="card-img-top" alt="...">
                                    <div class="card-body text-center">
                                        <h5 class="card-title mb-0">Pedro</h5>
                                        <div class="card-text text-black-50">bénévole</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Team Member 4 -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-0 shadow">
                                    <img src="/images/user-3331257_1280.png" class="card-img-top" alt="...">
                                    <div class="card-body text-center">
                                        <h5 class="card-title mb-0">Fernando</h5>
                                        <div class="card-text text-black-50">bénévole</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="mt-5 mb-4">Nos actions</h2>
                        <img class="img_nos-actions" src="/images/lonely_puppy_1024_1_0.jpg" alt="">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum autem ad fugiat voluptatem
                            quas,
                            deserunt libero soluta. Neque odit impedit, in laudantium distinctio quisquam aut ullam
                            soluta
                            harum repudiandae. Inventore?
                            Quo ad facilis totam, pariatur dolores mollitia dolor, in placeat natus officia earum fugiat
                            asperiores labore, eum quidem dicta? Iste laudantium distinctio doloremque deserunt ad
                            maiores
                            suscipit tempore delectus perspiciatis!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum autem ad fugiat voluptatem
                            quas,
                            deserunt libero soluta. Neque odit impedit, in laudantium distinctio quisquam aut ullam
                            soluta
                            harum repudiandae. Inventore?
                            Quo ad facilis totam, pariatur dolores mollitia dolor, in placeat natus officia earum fugiat
                            asperiores labore, eum quidem dicta? Iste laudantium distinctio doloremque deserunt ad
                            maiores
                            suscipit tempore delectus perspiciatis!</p>

                    </div>
                    <!-- /.container -->
                    </section>
                </main>
                <!-- Footer-->
                <%- include('./layouts/footer.ejs') %>
                    <%- include('./layouts/scripts.ejs') %>
    </body>

</html>